section {
  padding: 60px 0;
  overflow: hidden;
}


.section-header h2 {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 0;
  color: #4154f1;
  text-transform: uppercase;
}
#mid{
height: 50vh;
}

button, button::after {
width: 250px;
height: 50px;
font-size: 25px;
font-family: 'Bebas Neue', cursive;
background: linear-gradient(45deg, transparent 5%, #970C10 5%);
border: 100px;
color: #fff;
letter-spacing: 3px;
line-height: 25px;
box-shadow: 6px 0px 0px #214358;
outline: transparent;
position: relative;
align-content: center;
text-align: center;
padding: -20px;
margin-left: 20px;
}

#b1, #b1::after {
width: 250px;
height: 50px;
font-size: 25px;
font-family: 'Bebas Neue', cursive;
background: linear-gradient(45deg, transparent 5%, #214358 5%);
border: 100px;
color: #fff;
letter-spacing: 3px;
line-height: 25px;
box-shadow: 6px 0px 0px #970C10;
outline: transparent;
position: relative;
align-content: center;
text-align: center;
padding: -20px;
margin-left: 20px;
}

#b1::after {
--slice-0: inset(50% 50% 50% 50%);
--slice-1: inset(80% -4px 0 0);
--slice-2: inset(50% -4px 30% 0);
--slice-3: inset(10% -4px 85% 0);
--slice-4: inset(40% -4px 43% 0);
--slice-5: inset(80% -4px 5% 0);

content: 'INICIAR SESION';
display: block;
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
background: linear-gradient(45deg, transparent 3%, #970C10 3%, #970C10 5%, #214358 5%);
text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #970C10;
clip-path: var(--slice-0);
}


button::after {
--slice-0: inset(50% 50% 50% 50%);
--slice-1: inset(80% -4px 0 0);
--slice-2: inset(50% -4px 30% 0);
--slice-3: inset(10% -4px 85% 0);
--slice-4: inset(40% -4px 43% 0);
--slice-5: inset(80% -4px 5% 0);

content: 'REGISTRARSE';
display: block;
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
background: linear-gradient(45deg, transparent 3%, #214358 3%, #214358 5%, #970C10 5%);
text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #214358;
clip-path: var(--slice-0);
}

button:hover::after {
animation: 1s glitch;
animation-timing-function: steps(2, end);
}

@keyframes glitch {
0% {
  clip-path: var(--slice-1);
  transform: translate(-10px, -5px);
}
10% {
  clip-path: var(--slice-3);
  transform: translate(5px, 5px);
}
20% {
  clip-path: var(--slice-1);
  transform: translate(-15px, 7px);
}
30% {
  clip-path: var(--slice-3);
  transform: translate(0px, 6px);
}
40% {
  clip-path: var(--slice-2);
  transform: translate(-15px, 0px);
}
50% {
  clip-path: var(--slice-3);
  transform: translate(5px, 0px);
}
60% {
  clip-path: var(--slice-4);
  transform: translate(5px, 5px);
}
70% {
  clip-path: var(--slice-2);
  transform: translate(-15px, 5px);
}
80% {
  clip-path: var(--slice-5);
  transform: translate(5px, -5px);
}
90% {
  clip-path: var(--slice-1);
  transform: translate(-10px, 0px);
}
100% {
  clip-path: var(--slice-1);
  transform: translate(0);
}
}


#body{
  /*  background-image: url("https://i.imgur.com/lLfM33a.gif");*/
    background-image: url("../../../assets/img/fondo.gif");
 
    /*background-image: url("https://64.media.tumblr.com/896b21ac5f8ad4b46cfac9a216b0657a/tumblr_ogqsxoRtme1rldv4go1_1280.gifv");*/
    /*background-image: url("https://64.media.tumblr.com/785d2a9fcde0637d6f092439e5a5b042/tumblr_oqgsdx2GPF1rldv4go1_1280.gifv");*/
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
