

    <div class="container-home" class="row">   
        <div [@fadeIn] class="m-0 justify-content-center align-items-center"> 
            <STYLE>a {text-decoration: none;} </STYLE> 
        <div class="container ">
            <div class="row">
                 <div class="col-lg-4" >
                     <a routerLink="/leagues">
                        <div id="card1" class="card">
                        <img class="cimg" id="img1" src="{{log1}}" alt="">
                    <a class="txt">LIGAS</a>
                </div>   
            </a> 
        </div>
            <div class="col-lg-4">
                <a routerLink="/users">
                    <div id="card2" class="card">
                        <img class="cimg" id="img2" src="{{log2}}" alt="">
                        <a class="txt" id="txt2">USUARIOS</a>
                    </div>
                </a>    
            </div>
            <div class="col-lg-4">
            <a routerLink="/statistics">
                <div id="card4" class="card">
                    <img class="cimg" id="img4" src="{{log4}}" alt="">
                    <a class="txt">ESTADISTICAS</a>
                </div>
            </a>
            </div> 
               </div>  
            </div>
        </div>
    </div>   
<!--
    
    <div class="row">
        <div class="col-lg-3">
            
        </div>
        <div class="col-lg-6">
            
        </div>
    </div>

-->
