<form #saveLeague="ngForm" (ngSubmit)="onSubmit(saveLeague)">
  <h2>Agregar Liga</h2>
  <mat-form-field  class="example-form-field" style="margin-left: 20px; width: 90%;">
    
      <input matInput type="text" [(ngModel)]="league.name" type="text" id="passwordRemoved" name="name" placeholder="Nombre de Liga" autocomplete="off">
    </mat-form-field>
    <div class="row" style="text-align: center;">
      <div class="col-lg-4">
        <p >URL</p>
      </div>
      <div class="col-lg-4">
        <mat-slide-toggle  [(ngModel)]="isChecked" name="isChecked" (click)="clean()"></mat-slide-toggle>
      </div>
      <div class="col-lg-3" style="margin-left: 15px; text-align: left;">
        <p>imagen</p>
      </div>
    </div>
    <mat-form-field  class="example-form-field" style="margin-left: 20px; width: 90%;" *ngIf="isChecked == false" >
      <input matInput type="text" [(ngModel)]="league.image" type="test" id="passwordRemoved" name="name" placeholder="URL de Imagen" autocomplete="off">
      
    </mat-form-field><br>

    <div id="sisoi" class="container-input-file" *ngIf="isChecked == true"  >
      <input id="elInputDeAndre" id="file" type="file" accept="image/png, .jpeg, .jpg, image/gif"  (change)="handleImage($event)">
      <label id="lblbtn" for="file">
        <i class="material-icons">add_photo_alternate</i>&nbsp;
        Subir imagen
      </label>
    </div><br>
    <div id="prevTxt">
      <p>Previsualización</p>
    </div>
    <div style="text-align: center;" *ngIf="league.image == ''">
      <span class="material-icons" id="icons" style="font-size: 90px;">crop_free</span>
    </div>
    <div id="prevImg" *ngIf="league.image != ''">
      <img id="imgCardUp" src="{{league.image}}" alt="not found">
    </div>
      
<div style="text-align: right; margin-top: 5px;">
  <button mat-stroked-button  (click)="onNoClick()" style="margin-right: 15px;">Cancelar</button>
  <button type="submit" mat-stroked-button color="accent">Agregar liga</button>
</div>

</form>