<div class="container-home" class="row" class="m-0 justify-content-center align-items-center">  
    <div class="body404">
        <STYLE>a {text-decoration: none;} </STYLE> 
        <div class="card" id="card1">
            <img class="img" id="img1" src="{{kekw1}}">
            <img class="img" id="img2" src="{{kekw3}}">
            <a class="txt">ERROR 404 - NOT FOUND</a>
        </div>    
    </div>   

    <div class="body404-2">
        <div class="card" id="card2">
            <a routerLink="/user"><img routerLink="/home" class="img" id="img3" src="{{kekw4}}"></a>
            <a routerLink="/user" class="txt">REGRESAR AL INICIO</a>
        </div>  
    </div>


</div>


