<h2 style="text-align: center;">Editar Usuario</h2>

<mat-form-field  class="example-form-field" style="margin-left: 20px; width: 90%;">
  <input matInput type="text" [(ngModel)]="data.username" id="username" name="username" placeholder="Username"  autocomplete="off">
</mat-form-field><br>
<mat-form-field  class="example-form-field" style="margin-left: 20px; width: 90%;">
  <input matInput type="text" [(ngModel)]="data.name" id="name" name="name" placeholder="Name" autocomplete="off">
</mat-form-field><br>
<mat-form-field  class="example-form-field" style="margin-left: 20px; width: 90%;">
  <input matInput type="text" [(ngModel)]="data.email" id="email" name="email" placeholder="Email" autocomplete="off">
</mat-form-field><br>
<mat-form-field  class="example-form-field" style="margin-left: 20px; width: 90%;">
  <mat-select [(ngModel)]="data.role" name="role" id="selectRole"> 
      <mat-option value="" disabled selected>Configurar Rol</mat-option>
      <mat-option *ngFor="let option of roleOptions" [value]="option">{{option}}</mat-option>
  </mat-select> 
</mat-form-field>

      
<br><br>
<div class="button" style="text-align: right; margin-top: 15px;">
  <button mat-stroked-button  (click)="onNoClick()" style="margin-right: 15px;">Cancelar</button>
  <button mat-stroked-button color="accent"  (click)="userUpdateByAdmin()">Actualizar Usuario</button>
</div>